@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 216 12.2% 8%;
        --foreground: 60 9.1% 97.8%;
        --card: 220 13.4% 13.1%;
        --card-foreground: 60 9.1% 97.8%;
        --popover: 20 14.3% 4.1%;
        --popover-foreground: 60 9.1% 97.8%;
        --primary: 38.2 100% 39.4%;
        --primary-foreground: 60 9.1% 97.8%;
        --primary-hover: 38.3 100% 54.5%;
        --secondary: 12 6.5% 15.1%;
        --secondary-foreground: 60 9.1% 97.8%;
        --muted: 200 50% 2.4%;
        --muted-foreground: 60 9.1% 97.8%;
        --accent: 220 13.4% 13.1%;
        --accent-foreground: 60 9.1% 97.8%;
        --destructive: 0 72.2% 50.6%;
        --destructive-foreground: 60 9.1% 97.8%;
        --border: 220 13% 18%;
        --input: 12 6.5% 15.1%;
        --ring: 240 12.5% 3.1%;
        --radius: 0.5rem;
    }

    .dark-old {
        --background: 205.7 43.8% 6.3%;
        /**/
        --foreground: 60 9.1% 97.8%;
        /**/
        --card: 207.3 42.3% 10.2%;
        /**/
        --card-foreground: 60 9.1% 97.8%;
        /**/
        --popover: 20 14.3% 4.1%;
        /**/
        --popover-foreground: 60 9.1% 97.8%;
        /**/
        /* --primary: 205.5 46% 37.1%;  */
        --primary: 35.5 91.8% 57.1%;
        --primary-foreground: 205.7 43.8% 6.3%;
        /**/
        /* --primary-hover: 205 46.2% 25.5%; */
        --primary-hover: 38.5 91.5% 41.8%;
        --secondary: 12 6.5% 15.1%;
        /**/
        --secondary-foreground: 60 9.1% 97.8%;
        /**/
        --muted: 200 50% 2.4%;
        /**/
        --muted-foreground: 60 9.1% 97.8%;
        /**/
        --accent: 12 6.5% 15.1%;
        --accent-foreground: 60 9.1% 97.8%;
        --destructive: 0 72.2% 50.6%;
        --destructive-foreground: 60 9.1% 97.8%;
        --border: 205.2 43.7% 13.9%;
        --input: 12 6.5% 15.1%;
        --ring: 205.5 46% 37.1%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

@layer components {
    .blinking-cursor:after {
        content: "|";
        @apply text-primary-light;
        animation: blink 1s step-start infinite;
    }

    @keyframes blink {
        50% {
            opacity: 0;
        }
    }
}