@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 100% 95%;
    --foreground: 224 5% 0%;
    --card: 224 50% 90%;
    --card-foreground: 224 5% 10%;
    --popover: 224 100% 95%;
    --popover-foreground: 224 100% 0%;
    --primary: 224 41.3% 18%;
    --primary-foreground: 0 0% 100%;
    --secondary: 224 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 186 30% 85%;
    --muted-foreground: 224 5% 35%;
    --accent: 186 30% 80%;
    --accent-foreground: 224 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 224 5% 90%;
    --border: 224 30% 50%;
    --input: 224 30% 18%;
    --ring: 224 41.3% 18%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 50% 5%;
    --foreground: 224 5% 90%;
    --card: 224 50% 0%;
    --card-foreground: 224 5% 90%;
    --popover: 224 50% 5%;
    --popover-foreground: 224 5% 90%;
    --primary: 35 44% 65.7%;
    --primary-foreground: 0 0% 100%;
    --secondary: 224 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 186 30% 15%;
    --muted-foreground: 224 5% 60%;
    --accent: 186 30% 15%;
    --accent-foreground: 224 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 224 5% 90%;
    --border: 224 30% 18%;
    --input: 224 30% 18%;
    --ring: 224 41.3% 18%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .blinking-cursor:after {
    content: "|";
    @apply text-primary-light;
    animation: blink 1s step-start infinite;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
}
